{% extends 'base.html.twig' %}

{% block body %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" class="active">Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://127.0.0.1:8000/stockmanagement">Stock Management</a></li>
      <li><a href="http://127.0.0.1:8000/user">User Manage</a></li>
      <li><a href="http://127.0.0.1:8000/viewstock">View Stock</a></li>
      <li><a href="http://127.0.0.1:8000/employemanagement">Coutomer Management</a></li>
      <li><a href="http://127.0.0.1:8000/invoicemanagement">Invoice Management</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:8000/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
  </div>
</nav>
  
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <center>
    <h1> You Was Logined to Stock Mabagement Systems</h1>  
</center> 
</div>

</body>
</html>

{% endblock %}
