{% extends 'base.html.twig' %}

{% block body %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://127.0.0.1:8000/stockmanagement">Stock Management</a></li>
      <li><a href="http://127.0.0.1:8000/user">User Manage</a></li>
      <li class="active"><a href="http://127.0.0.1:8000/viewstock">View Stock</a></li>
      <li><a href="http://127.0.0.1:8000/customermanagement">Coutomer Management</a></li>
      <li><a href="http://127.0.0.1:8000/invoicemanagement">Invoice Management</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:8000/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
  </div>
</nav>
  <br>
   <br>
    <br>
     <br>

<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>


    {% for post in blog_posts %}
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="GG" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ post.name }}</h4>
                    <p class="group inner list-group-item-text">
                        {{ post.decription }}</p>
                    <div class="row">
                    <div class="col-xs-12 col-md-6">
                    <p class="lead">
                        {{ post.price }}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

</body>
</html>

{% endblock %}
